@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
}

::-moz-selection {
  background-color: rgba(202, 37, 37, 0.829);
  color: #ffffff;
}

::selection {
  background-color: rgba(202, 37, 37, 0.829);
  color: #ffffff;
}

.header-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("bg-home.png");
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 3rem;
}

.header-about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("bg-about.jpg");
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("bg-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.header-media {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("bg-media.jpg");
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("bg-media.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 3rem;
}

.header-updates {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("bg-updates.jpg");
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("bg-updates.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 3rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.sticky-top {
  width: 100%;
  background-color: #181818fa;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 5em;
  max-height: 6em;
}

.nav-logo-mob {
  display: none;
}

.navbar {
  text-transform: uppercase;
  font-family: 'Do Hyeon', sans-serif;
  min-height: 4rem;
}

.navbar .container {
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 2rem;
}

.hamburger:focus {
  outline: none;
}

.nav-item {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.836);
}

.nav-link {
  color: #bfbfbf;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.nav-link:hover {
  color: rgba(224, 32, 32, 0.904);
}

.active {
  color: #ffffff;
}

.img-bg {
  display: block;
  max-width: 1024px;
  width: 80%;
  padding: 0;
  margin: auto;
}

.header-title {
  text-transform: uppercase;
  word-spacing: 0.4rem;
  font-size: 1.8rem;
  padding: 4rem 1rem 3rem 1rem;
  font-family: 'Alata', sans-serif;
}

.header-subtitle {
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
  margin: -5rem auto 1em auto;
  max-width: 85%;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons {
  border-radius: 0.2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: rgba(212, 31, 31, 0.808);
  padding: 0.7rem 1.6rem 0.7rem 1.6rem;
  margin-left: 1rem;
}

.buttons:hover {
  color: #ffffff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  background-color: rgba(224, 32, 32, 0.904);
}

.section {
  padding: 3rem 0;
  background: #111111;
}

.section:nth-child(odd), .section-mission:nth-child(odd) {
  background: #1e1e1e;
}

.section-title {
  color: rgba(255, 255, 255, 0.836);
  font-family: 'Do Hyeon';
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.section-content {
  padding: 2rem 1rem;
}

.section-content img, .section-content video {
  width: 100%;
  height: 100%;
}

.iframe-container, iframe {
  width: 100%;
}

p {
  margin: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-img {
  width: 500px;
  height: 300px;
}

.wild {
  width: 360px;
  height: 200px;
}

.new-soon {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.2)), to(rgba(17, 17, 17, 0.1))), url("soon.jpeg");
  background: linear-gradient(rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.1)), url("soon.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-attachment: scroll;
}

.update-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1e1e1e;
}

.update-post {
  padding: 3rem 2rem;
  text-align: left;
  background-color: #1e1e1e;
}

.update-title {
  color: rgba(224, 32, 32, 0.904);
  display: block;
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.previous-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  color: rgba(212, 31, 31, 0.808);
  cursor: pointer;
}

.next {
  display: none;
}

.previous, .next {
  display: none;
  padding: 1rem 1.9rem;
}

.previous:hover, .next:hover {
  color: rgba(224, 32, 32, 0.904);
}

.footer {
  position: relative;
  background: #111111;
  padding: 2em 1em;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-item {
  padding: 0.5rem  2rem;
}

.footer-item:nth-child(3) {
  margin-top: 0.15rem;
}

a {
  color: rgba(212, 31, 31, 0.808);
}

a:hover {
  color: rgba(224, 32, 32, 0.904);
}

@media screen and (max-width: 1920px) {
  .img-bg {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-item {
    font-size: 1.1rem;
  }
  .hamburger {
    display: none;
  }
  .nav-link {
    text-align: center;
  }
  .columns-img {
    display: block;
  }
  .wild {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .nav-logo-mob {
    display: block;
    color: rgba(224, 32, 32, 0.904);
  }
  .nav-right {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-right.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger {
    display: block;
    width: 82%;
    text-align: right;
  }
  .nav-link {
    text-align: center;
  }
  .nav-logo, .logo {
    display: none;
  }
  .img-bg {
    height: 400px;
  }
  .columns {
    display: block;
  }
  .column {
    display: block;
  }
  .wild {
    width: 480px;
  }
  .iframe-container, iframe {
    height: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    min-height: 3rem;
  }
  .nav-logo-mob {
    display: block;
    color: rgba(224, 32, 32, 0.904);
  }
  .hamburger {
    font-size: 1.5rem;
  }
  .header-subtitle {
    margin-top: -2.5rem;
    font-size: 1.3rem;
  }
  .buttons {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .img-bg {
    height: 270px;
  }
  .section-title {
    font-size: 1.2rem;
  }
  .header-title {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.8rem;
  }
  .columns {
    display: block;
  }
  .column {
    display: block;
  }
  .about-img {
    width: 260px;
    height: 180px;
  }
  .wild {
    width: 300px;
  }
  .new-soon h1 {
    font-size: 1.5rem;
  }
  .section-content {
    padding: 1rem 1rem;
  }
  .iframe-container, iframe {
    height: 200px;
  }
  .update-post {
    padding: 1rem 0;
  }
  .update-title {
    font-size: 1rem;
  }
  .previous-next {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 320px) {
  .wild {
    width: 260px;
    height: 180px;
  }
  .new-soon h1 {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */