@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
       body {
            font-size: 62.5%;
            background-image: linear-gradient( rgba(17, 17, 17, 0.7) ,rgba(17, 17, 17, 0.7)), url("background_home.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            height: 1500px;
            line-height: 1.5rem;
            font-family: 'Do Hyeon', sans-serif;
            color: #ffffff;
            text-align: center;
        }

        ::selection{
            background-color: rgba(202, 37, 37, 0.829);
            color: #ffffff;
        }
        .container{
            max-width: 1200px;
            width: 95%;
            margin: auto;
        }
        .sticky-top{
            background-color: #181818bb;
        }
        .logo{
            width: 100%;
            height: 100%;
            max-width: 7em;
            max-height: 6em
        }
        .navbar{
            text-transform: uppercase;
            font-family: 'Do Hyeon', sans-serif;
            min-height: 4rem;
            .container{
                margin-right: 0;
                margin-left: 0;
                max-width: 100%;
            }
        }

      .nav-right{
          display: flex;
          float: right;
      }

      .hamburger{
          display: none;
        background-color: transparent;
        border: 0;
        color: #ffffff;
        font-size: 2rem;
        &:focus{
            outline: none;
        }
      }
      @media screen and(max-width: 968px){
        .nav-right{
            display: none;
            width: 90%;
            flex-direction: column;
        }
         .nav-right.show{
                display: flex;
            }
        .hamburger{
            display: block;
        }
        .nav-link{
            text-align: center;
        }
        .img-bg{
            height: 500px;
        }
      }

      @media screen and (max-width: 868px){
        .nav-right{
            display: none;
            width: 100%;
            flex-direction: column;
        }
         .nav-right.show{
                display: flex;
            }
        .hamburger{
            display: block;
            text-align: right;
        }
        .nav-link{
            text-align: center;
        }
        .nav-logo{
            display: none;
        }
        .img-bg{
            height: 400px;
        }
        .logo{
            max-width: 5em;
        }
      }

      .nav-item{
          font-size: 1.5rem;
          color: rgb(245, 245, 245);
      }

      .nav-link{
          color: #bfbfbf;
          transition: color 0.1s ease-out;
          &:hover{
              color: rgba(224, 32, 32, 0.904);
          }

      }
      .active{
          color: #ffffff;
      }
        .img-bg{
            display: block;
            max-width: 1200px;
            width: 95%;
            padding: 0;
        }
        .header-subtitle{
            color: #ffffff;
            text-align: center;
            margin: -4rem auto 1em auto;
            max-width: 100%;
        }
        .header-buttons{
            display: flex;
            justify-content: center;
        }
        .buttons{
            font-size: 1.6rem;
            color: #ffffff;
            background-color: rgba(204, 44, 44, 0.849);
            padding: 0.7rem 1.6rem 0.7rem 1.6rem ;
            margin-left: 1rem;
            &:hover{
                color: #ffffff;
                text-decoration-line: none;
                background-color: rgba(214, 32, 32, 0.979);
            }
        }
        @media screen and (max-width: 768px){
            
        }
        .section{
            background-color: #111111;
        }
